@use "helpers";
@use "color";

.faq {
  @extend %padding-section;
  text-align: center;
  margin-bottom: 2rem;

  .text-section {
    margin-bottom: 5rem;
  }

  dl {
    font-size: 1.5rem;
    max-width: 40rem;
    margin: 0 auto 5rem;
    text-align: left;

    div {
      overflow: hidden;
      border-bottom: 1px solid hsl(229deg 2.86% 86.87%);
      cursor: pointer;
      line-height: 1.4;
      transition: color 0.3s;

      &:first-child {
        border-top: 1px solid hsl(229deg 2.86% 86.87%);
      }

      &:hover {
        color: color.$soft-red;
      }
    }

    dt {
      @include helpers.flex(space-between, center);
      padding: 1.5rem 0;

      svg {
        width: 2rem;
        color: color.$soft-blue;
      }

      svg.opened {
        color: color.$soft-red;
      }
    }

    dd {
      color: color.$grayish-blue;
      font-size: 1.4rem;
    }
  }

  .button {
    @include helpers.btnColor(color.$soft-blue, color.$white);
  }
}
