@use "color";

@mixin flex(
  $justify: flex-start,
  $alignment: flex-start,
  $direction: row,
  $gap: 0
) {
  display: flex;
  justify-content: $justify;
  align-items: $alignment;
  flex-direction: $direction;
  gap: $gap;
}

@mixin after($width, $direction, $topValue) {
  content: "";
  width: $width;
  height: 86%;
  position: absolute;
  #{$direction}: 20%;
  top: $topValue;
  z-index: -1;
  background-color: color.$soft-blue;
  border-top-#{$direction}-radius: 100px;
  border-bottom-#{$direction}-radius: 120px;
}

@mixin btnColor($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}

%padding-section {
  padding: 6rem 0;

  @media (min-width: 1200px) {
    padding: 8rem 0;
  }
}

.text-section {
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
}

.sub-heading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.paragraph {
  line-height: 1.6;
  font-size: 1.4rem;
  color: color.$grayish-blue;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}
